.ButtonGroup .Button {
  flex: 1 1 auto;
  /* margin: 10px; */
  /* padding: 30px; */
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  /* border-radius: 11px; */
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fd85cf 51%,
    #f6d365 100%
  );
}

.ButtonGroup .Button.End.Left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.ButtonGroup .Button.End.Right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.ButtonGroup .Button:hover {
  background-position: right center;
}
