.DiagonalFillOnHoverButton {
  background-color: transparent;
  border-radius: 0.55em;
  display: flex;
  align-self: center;
  font-size: 1rem;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;

  border-color: #00aeff;
  color: #fff;
  background-image: linear-gradient(45deg, #00aeff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.DiagonalFillOnHoverButton:hover {
  background-position: 0;
}