.ChromeCloseTabButton2022 {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 20px;
  }
  
  .ChromeCloseTabButton2022:hover {
    background: #ddd;
  }
  
  .ChromeCloseTabButton2022 svg {
    display: block;
  }
  
  .ChromeCloseTabButton2022 .x {
    stroke: rgb(104, 104, 104);
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
  }
  